# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Dicord Plugin
/discord.xml
# Things that aren't useful to other people
/deployment.xml
